.right th,
td {
    border: 1px solid #111C21;
    padding: 5px;
    text-align: center;
}

.right th {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: #525659;
}